<!-- <link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/github.min.css"> -->
<!-- <script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script> -->
<!-- <script>hljs.initHighlightingOnLoad();</script> -->

<link href="{{ .Site.BaseUrl }}/css/themes/blackboard.css" rel="stylesheet" type="text/css">
<script src="{{ .Site.BaseUrl }}/js/rainbow-custom.min.js"></script>
<script src="{{ .Site.BaseUrl }}/js/rainbow.linenumbers.min.js"></script>

<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/code.css">